body{
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/46f37945885079.584030cfd603d.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container-fluid{
    margin-bottom: 14.9px;
}
.heading{
    color: #330000;
    font-weight: 900;
    font-size: 1.5cm;
    text-shadow: -2px 2px 0 #41ba45,
	2px 2px 0 #c63d2b,
	2px -2px 0 #42afac,
	-2px -2px 0 #c6c23f;
}
#row1{
    display: flex;
    justify-content: center;
}
#col{
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 6px #8d8d8d7e inset;
}
.btn{
    box-shadow: -2px 2px 0 #41ba45,
	2px 2px 0 #c63d2b,
	2px -2px 0 #42afac,
	-2px -2px 0 #c6c23f;
}
label{
    color: #cfc547;
}
input{
    box-shadow: -2px 2px 0 #41ba45,
	2px 2px 0 #c63d2b,
	2px -2px 0 #42afac,
	-2px -2px 0 #c6c23f;
}
#button{
    color: #cfc547;
}


@media(max-width:450px){
    body{
        margin: 0%;
        padding: 0%;
        height: 100%;
        width: 100%;
    }
    #row1{
        margin: 0%;
    }
    #col{
        width: max-content;
        padding: 0%;
        margin-bottom: 15px;
    }
}
@media(min-width:450px){
    body{
        margin: 0%;
        padding: 0%;
        height: 100%;
        width: 100%;
    }
    #row1{
        margin: 0%;
    }
    #col{
        width: max-content;
        padding: 0%;
        margin-bottom: 15px;
    }
}